<template>
    <v-container fluid class="mb-10 mt-10">
        <v-card class="pa-5" variant="tonal" color="teal-darken-4">
            <v-card-title>
                <v-row class="headline">
                    <v-col v-if="existing">
                        <h1>EDIT ITEM</h1>
                    </v-col>
                    <v-col v-else>
                        <h1>NEW ITEM</h1>
                    </v-col>
                </v-row>
            </v-card-title>
            <v-form @submit.prevent="submitForm" class="mt-5">
                <v-row>
                    <v-col>
                        <v-text-field v-model="formData.title" label="Title" required
                            :rules="[rules.required]"></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-textarea v-model="formData.body" label="Body" required :rules="[rules.required]"></v-textarea>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-checkbox v-model="formData.important" label="Mark as Important"></v-checkbox>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col class="d-flex flex-row align-center justify-end">
                        <v-btn type="submit" class="mt-2" size="large" variant="tonal">Submit</v-btn>
                    </v-col>
                </v-row>
            </v-form>
        </v-card>
    </v-container>
</template>


<script lang="ts">

import { defineComponent, ref } from 'vue';
import store from '../store'
import router from '../router'

interface FormData {
    title: string;
    body: string;
    important: boolean;
}

export default defineComponent({
    setup() {
        const formData = ref<FormData>({
            title: '',
            body: '',
            important: false,
        });

        const existing = ref<boolean>(false);
        const id = ref<Number>(-1);

        const titleErrors = ref<string[]>([]);
        const bodyErrors = ref<string[]>([]);

        const rules = {
            required: (value: string) => !!value || 'Field is required',
        };

        /*Changint the submit function based on the functionality of the formular*/
        const submitForm = (): void => {

            titleErrors.value = [];
            bodyErrors.value = [];

            if (!formData.value.title.trim()) {
                titleErrors.value.push('Title is required');
            }

            if (!formData.value.body.trim()) {
                bodyErrors.value.push('Body is required');
            }

            if (titleErrors.value.length > 0 || bodyErrors.value.length > 0) {
                return;
            }

            if (!existing.value) {
                store.dispatch('addItem', formData.value);
                router.push("/");
            }
            else {
                store.dispatch('modifyItem', { itemId: id.value, updatedItem: formData })
                router.push("/");
            }
        };

        return {
            formData,
            submitForm,
            existing,
            id,
            titleErrors,
            bodyErrors,
            rules
        };
    },

    /* At creation analyses the parameter if available and decides the use of the formular */
    created() {
        if (router.currentRoute.value.params.id) {
            const routeid = router.currentRoute.value.params.id.toString()

            if (routeid) {
                const id = parseInt(routeid);
                const items = store.state.items;
                const data = items.find(item => item.id === id);

                if (data) {
                    this.formData.title = data.title;
                    this.formData.body = data.body;
                    this.formData.important = data.important;
                    this.existing = true;
                    this.id = data.id
                }
            }
        }
    }
});
</script>