<template>
    <v-container fluid class="mb-10 mt-10">
        <v-row class="headline">
            <v-col class="headline full-width">
                <h1>LIST OF ITEMS</h1>
            </v-col>
            <v-col class="headline justify-end full-width">
                <v-btn @click="toggleSortOrder">
                    {{ sortOrder === 'asc' ? 'Sort Descending' : 'Sort Ascending' }}
                </v-btn>
            </v-col>
        </v-row>

        <v-row>
            <v-col>
                <v-card title="Add new item" variant="tonal" color="orange-darken-4" href="/item" link class=""></v-card>
            </v-col>
        </v-row>

        <v-row>
            <template v-for="item in sortedItems" :key="item.id">
                <v-col>
                    <v-card :title="item.title" :text="item.body" variant="tonal" :color="item.important ? 'primary' : ''">
                        <v-card-actions>
                            <v-btn :to="`/item/${item.id}`">Edit item</v-btn>
                            <v-btn @click="handleRemove(item.id)">Delete item</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
            </template>
        </v-row>
    </v-container>
</template>

<style>
.headline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

@media only screen and (max-width: 675px) {
    .headline{
        justify-content: center;
    }

    .full-width{
        min-width: 100%;
    }
}
</style>

<script setup lang="ts">

import store from '../store'
import { ref, computed } from 'vue';

const sortOrder = ref<string>('asc');

const sortedItems = computed(() => {
    const items = [...store.state.items];
    return items.sort((a, b) => {
        const titleA = a.title.toLowerCase();
        const titleB = b.title.toLowerCase();

        if (titleA < titleB) return sortOrder.value === 'asc' ? -1 : 1;
        if (titleA > titleB) return sortOrder.value === 'asc' ? 1 : -1;
        return 0;
    });
});

function toggleSortOrder() {
    sortOrder.value = sortOrder.value === 'asc' ? 'desc' : 'asc';
}

function handleRemove(id: Number) {
    store.dispatch('removeItem', id);
}

</script>